<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="chat-log">
    <div *ngFor="let msg of messages" class="chat-item">
      <div class="author"> {{ msg?.author }} </div>
      <ion-label> {{ msg?.text}} </ion-label>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="currentMsg.text"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="submit()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>
